apiVersion: v1
kind: ConfigMap
metadata:
  name: vmagent-config
  namespace: your-cluster
data:
  vmagent-config.yaml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:

      - job_name: 'vmagent'
        static_configs:
          - targets: ['localhost:8429']